.root {
  min-height: 100%;
  > div {
    min-height: 100%;
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* =======================================================================
Shell
========================================================================== */

.main {
  transition: all 0.3s ease;
  padding-top: 0px;

  > * {
    width: 100%;
  }
}

// this is needed so we can use full height of the viewport
.root {
  min-height: 100%;

  > div {
    min-height: 100%;
  }
}

.base {
  position: absolute;

  top: 0;

  left: 0;

  right: 0;

  bottom: 0;

  display: flex;
  flex-direction: row;
}
